<!-- PROJECT FORM -->
<div
  class="modal"
  [style.display]="project ? 'block' : 'none'"
  id="projectAddModal"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h1 *ngIf="!project">Add Project</h1>
        <h1 *ngIf="project">Edit Project</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        ></button>
      </div>
      <!-- Modal body -->
      <form>
        <div class="form-group" ngFor="let project of projects">
          <label for="formGroupExampleInput">Title Input</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="{{ project ? project.name : 'Title Input' }}"
          />
          <label for="formGroupExampleInput">Description input</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="{{
              project ? project.description : 'Description input'
            }}"
          />
        </div>
      </form>
      <div class="form-check form-check-inline" *ngFor="let skill of skills">
        <input
          class="form-check-input"
          type="checkbox"
          id="inlineCheckbox1"
          [value]="skill.name"
        />
        <label class="form-check-label" for="inlineCheckbox1">{{
          skill.name
        }}</label>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
