<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="">
      <i class="bi bi-house-heart-fill"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/project">PORTFOLIO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/blog">BLOG</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/shop">SHOP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="bi bi-cart-fill"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="bi bi-person-heart"></i>
    </a>
  </li>
</ul>
