<div class="cover-container">
  <img src="assets/cover.PNG" />
</div>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="bi bi-house-heart-fill"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">PORTFOLIO</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">BLOG</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">SHOP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="bi bi-cart-fill"></i>
    </a>
  </li>
</ul>
