<div class="card-deck">
  <div class="card" *ngFor="let project of projects">
    <img class="card-img-top" src="assets/random.jpg" alt="Card image cap" />
    <div class="card-body">
      <i class="bi bi-pencil-square"></i>
      <i class="bi bi-trash3-fill"></i>
      <h5 class="card-title">{{ project.name }}</h5>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 0 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 1 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 2 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 3 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 4 }"
      ></i>
      <h2>({{ project.num_of_ratings }})</h2>
      <h2>{{ project.avg_ratings }}</h2>

      <p class="card-text">
        {{ project.description }}
      </p>
      <p class="card-text">
        <!-- <small class="text-muted"> -->
        <small>
          <h2>RATE THE PROJECT:</h2>
          <div>
            <i
              class="bi bi-suit-heart-fill"
              *ngFor="let rate of [1, 2, 3, 4, 5]"
              (mouseleave)="rateHovered = 0"
              (mouseenter)="rateHover(rate)"
              (click)="rateEnter(rate, project)"
              [ngClass]="{ red: rateHovered >= rate }"
            ></i>
          </div>
        </small>
      </p>
    </div>
  </div>
  <i class="bi bi-plus-square-fill"></i>
  <h2>Add Project</h2>
  <br />
  <div class="card-deck">
    <div class="card" *ngFor="let education of educations">
      <div class="card-body">
        <i class="bi bi-pencil-square"></i>
        <i class="bi bi-trash3-fill"></i>
        <h5 class="card-title">{{ education.institution }}</h5>
        <p class="card-text">
          {{ education.description }}
        </p>
        <p class="card-text">
          <!-- <small class="text-muted"> -->
          <small>
            {{ education.skills }}
          </small>
        </p>
      </div>
    </div>
  </div>
  <i class="bi bi-plus-square-fill"></i>
  <h2>Add Education</h2>

  <br />
  <div class="card-deck">
    <div class="card">
      <i class="bi bi-pencil-square"></i>
      <i class="bi bi-trash3-fill"></i>
      <h5 class="card-title">MY SKILLS :</h5>
      <div class="card-body" *ngFor="let skill of skills">
        {{ skill.name }}
      </div>
    </div>
  </div>
  <i class="bi bi-plus-square-fill"></i>
  <h2>Add Skill</h2>
</div>
