<div *ngFor="let education of educations">
  <h2>{{ education.institution }}</h2>
  <h2>{{ education.description }}</h2>
  <h2>{{ education.projects }}</h2>
  <h2>{{ education.skills }}</h2>
</div>
<br />
<div *ngFor="let skill of skills">
  <h2>{{ skill.name }}</h2>
</div>
<div class="card-deck">
  <div
    class="card"
    *ngFor="let project of projects"
    (click)="projectClicked(project)"
  >
    <img class="card-img-top" src="assets/random.jpg" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">{{ project.name }}</h5>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 0 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 1 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 2 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 3 }"
      ></i>
      <i
        class="bi bi-suit-heart-fill"
        [ngClass]="{ red: project.avg_ratings > 4 }"
      ></i>
      <h2>({{ project.num_of_ratings }})</h2>
      <h2>{{ project.avg_ratings }}</h2>

      <p class="card-text">
        {{ project.description }}
        {{ project.skills }}
      </p>
      <p class="card-text">
        <!-- <small class="text-muted"> -->
        <small>
          <h2>RATE THE PROJECT:</h2>
          <div>
            <i
              class="bi bi-suit-heart-fill"
              *ngFor="let rate of [1, 2, 3, 4, 5]"
              (mouseleave)="rateHovered = 0"
              (mouseenter)="rateHover(rate)"
              (click)="rateEnter(rate, project)"
              [ngClass]="{ red: rateHovered >= rate }"
            ></i>
          </div>
        </small>
      </p>
    </div>
  </div>
</div>
