.description {
    border:10px outset black;
    width: 1000px;
    height: 400px;
    background-color: white;
    margin-top: 50px;
    margin-left: 20px;
}
.desc_item {
    margin: 20px;
    font-family: Marker Felt, fantasy;
    font-size:25px;
    font-stretch: 50%;
}

.welcome {
    text-align: center;
    margin-top: 15px;
    font-family: Marker Felt, fantasy;
    font-size:80px;
    font-stretch: 50%;
}