<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


  <div class="description">
    <p class="desc_item">
      The same effect of expectation and corresponding absence arises with death. We do not often mourn people we 
      only might have met; but we do mourn those we have known. This pain stems from expecting a presence and having none. 
      Even people who have not experienced the presence of someone themselves can still feel their absence due to an expectation 
      being confounded. Children who lose one or both of their parents early in life often feel that lack of being through the 
      influence of the culturally usual idea of a family. Just as we have cultural notions about the box or chair, there is a 
      standard idea of a nuclear family, 
      containing two parents, and an absence can be noted even by those who have never known their parents.
    </p>
  </div>
</body>
</html>