html, body {
    border: 0.01px solid;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    margin-top: 0;
    background: linear-gradient(0deg, rgba(119,63,251,0.5) 0%, rgba(252,70,211,0.5) 100%);
}

.nav {
    background-color:black;
}

.nav-link {
    color: white;
    font-family: Marker Felt, fantasy;
    font-size:30px;
    padding: 5px 10px;
}

.nav-item{
    margin: 0 100px;
}

.bi-cart-fill {
    text-align: center;
    color: white;

}

.bi-house-heart-fill {
    color: white;
    font-size: larger;
}