body {
  min-height: 100vh;
  background: linear-gradient(
    0deg,
    rgba(119, 63, 251, 1) 0%,
    rgba(252, 70, 211, 1) 100%
  );
  font-family: Marker Felt, fantasy;
  font-size: 2rem;
}
.main-container {
  /* Subtracting 200px for the .cover-container height */
  max-height: calc(150vh - 150px);
  overflow-y: auto;
}
.cover-container img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.bi {
  font-size: larger;
}
/* 

.cover-container {
    margin: 0;
    width: 100%;
}

 
*/
